<ul class="nav nav-pills justify-content-end">
  <li class="nav-item">
    <a class="nav-link" routerLink="todoTask" routerLinkActive="active">Zadania</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="doneTask" routerLinkActive="active">Wykonane</a>
  </li>
</ul>
<router-outlet></router-outlet>



<!--
<div class="mainClass">
  <div class="container">
    <app-add-task></app-add-task>
  </div>

  <div class="container">
    <div>
      <app-todo-task></app-todo-task>
    </div>

    <div>
      <app-done-task></app-done-task>
    </div>

    <button type="button" class="btn btn-info" (click)="save()">Zapisz</button>

  </div>
</div>

-->
